.pageTitle {
    color: rgb(124, 61, 124);
    display: block;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma,
        Geneva, Verdana, sans-serif;
    font-size: 36px;
    text-align: center;
    width: 600px;
}


 
 