.signUp {
  color: white;
}

.test {
  background: red;
}

.product {
  max-width: 250px;
  background: red;
  height: 350px;

}



.first {
  color: white;
}

.second {
  color: white;
}

img {
  width: 100%;
}