.productBlock{
  display: flex;
  flex-direction: row;
  justify-content: space-arond;
}

.product {
margin: 0 50px 50px 0 ;
   height: 350px;
   max-width: 250px;
  .product_img {
    width: 100%;
  }

  .product_name {
    font-family: 'Segoe UI', Tahoma,
      Geneva, Verdana, sans-serif;
    font-size: 24px;
  }

}